* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b3508;
    color: #eba119;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 75%;
    /*border: solid 1px black; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

textarea{
    border-radius: 0.25rem;
    border: none;
    height: 3rem;
    resize: none;
    line-height: 3rem;
    font-size: 1.5rem;
    text-indent: 0,5rem;
}