* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D8BC5;
    color: white;
    font-size: 1.5rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#demo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    width: 50%;
    height: 50%;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.75rem;
    border: 1px solid black;
    object-fit: contain;
}