* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c203a;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.message-box {
    margin-top: 20px;
    width: 75vw;
    background-color: #23af6b;
    height: 50px;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 50px;

}

.custom-button {
    cursor: pointer;
    width: 75vw;
    height: 60;
    background-color: #198754;
    line-height: 60px;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.custom-button:hover{
    filter: grayscale(20%);
}